/* @color

blue1 : #083c74 */

body {
  margin: 0;
}

.headerContainer {
  width: 100%;
  height: 5rem;
  box-shadow: 0 0.1rem 0.5rem rgba(50,50,50,0.2);
  user-select: none;
}

.headerContainer ul {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 5% 0 0;
  padding: 0;
}

.header-wrapper ul:nth-child(n+2) {
  color: rgb(90, 90, 90);
  transition: all 0.2s;
  font-size: 1.1rem;
}
.header-wrapper ul:nth-child(n+2):hover {
  color: rgb(0,0,0);
}

.header-wrapper ul:nth-child(1) {
  font-size: 1.3rem;
  color: rgb(35,35,35);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.header-wrapper {
  width: 60%;
  height: 100%;
  margin: 0 auto;

}


/* @logo css */
.logo {
  width: 5rem;
  height: 5rem;
  background-image: url('/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.clock {
  width: 5rem;
  height: 5rem;
  background-image: url('/clock.svg');
  background-size: contain;
  background-repeat: no-repeat;
  color : #083c74

}

section {
  width: 60%;
  margin: 5rem auto;
}

.border {
  border: 1px solid black;
}

.h-v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.v-center {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #083c74;
}

h3 {
  font-weight: 500;
  color: #083c74;
  margin:0;
}

.orange-text {
  color: #ff6600;
}


.timetable-wrapper {
  width: 40%;
  margin: 0 auto 1rem;
  padding : 1% 0%;


  border-bottom: 1px dotted rgb(34, 34, 34);
  box-sizing :border-box;
  
  flex-direction: row;
  justify-content: space-between;
  align-items: end;

}


.time-info-wrapper {
  width: 40%;
}

.date-bold {
  background-color: rgba(12, 158, 168, 0.3)
}


@media (max-width: 768px) {
  .header-wrapper ul:nth-child(n+2) {
    display: none;
  }
  .header-wrapper {
    width: 100%;
  }

  .time-info-wrapper, .timetable-wrapper {
    width: 100%;
  }

  section {
    width: 90%;
  }
}
