/* @color

blue1 : #083c74 */

body {
  margin: 0;
}

.headerContainer {
  width: 100%;
  height: 5rem;
  box-shadow: 0 0.1rem 0.5rem rgba(50,50,50,0.2);
  user-select: none;
}

.headerContainer ul {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 5% 0 0;
  padding: 0;
}

.header-wrapper ul:nth-child(n+2) {
  color: rgb(90, 90, 90);
  transition: all 0.2s;
  font-size: 1.1rem;
}
.header-wrapper ul:nth-child(n+2):hover {
  color: rgb(0,0,0);
}

.header-wrapper ul:nth-child(1) {
  font-size: 1.3rem;
  color: rgb(35,35,35);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.header-wrapper {
  width: 60%;
  height: 100%;
  margin: 0 auto;

}


/* @logo css */
.logo {
  width: 5rem;
  height: 5rem;
  background-image: url('/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.clock {
  width: 5rem;
  height: 5rem;
  background-image: url('/clock.svg');
  background-size: contain;
  background-repeat: no-repeat;
  color : #083c74

}

section {
  height: 20rem;
  width: 60%;
  margin: 5rem auto;
}

.border {
  border: 1px solid black;
}

.h-v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: 500;
  color: #083c74;
}

@media (max-width: 768px) {
  .header-wrapper ul:nth-child(n+2) {
    display: none;
  }
  .header-wrapper {
    width: 90%;
  }
}
